[submodule "vim/pack/plugins/start/vim-airline"]
	path = vim/pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "sshrc.d/vim/pack/git-plugins/start/ale"]
	path = sshrc.d/vim/pack/git-plugins/start/ale
	url = https://github.com/w0rp/ale.git
